body{
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    color: white;
}

#testDiv{
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
}

#testDiv h1{
    color: #ffd700 ;
}

#testDiv button{
    padding: 20px 100px;
    margin-top: 50px;
    position: relative;
    left: 600px;
    background-color: rgb(218 219 82 / 15%);
    border: 2px solid #ffd700;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

#testDiv button:hover{
    background: #ffd700;
    text-decoration: none;
}

#testDiv label:hover{
    background: #cdbc58;
    text-decoration: none;
    
}



.levels{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 5px solid #ffd700;
    background-color: rgb(218 219 82 / 15%);
    border-radius: 5px;
    padding: 30px;
}

.levels button{
    padding: 10px 40px;
    background-color: transparent;
    border: 2px solid #ffd700;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

.levels button:hover{
    background: #ffd700;
    text-decoration: none;
}

.ask{
    display: flex;
    justify-content: center;
    font-family: 'Star Wars', sans-serif;
    color: #ffd700;
}